---
import { getCollection } from "astro:content";
import Layout from "src/layouts/Layout.astro";
import Container from "src/components/container.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <Container>
    <style>
      .blog-header {
        margin-left: auto;
        margin-right: auto;
        max-width: 48rem;
        margin-top: 3.5rem;
      }

      .blog-category {
        color: #60a5fa;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.875rem;
        font-weight: 500;
      }

      .blog-title {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 700;
        letter-spacing: -0.025em;
        margin-top: 0.25rem;
        line-height: 1.25;
      }

      @media (min-width: 1024px) {
        .blog-title {
          font-size: 3rem;
          line-height: 1;
        }
      }

      .blog-meta {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.75rem;
        align-items: center;
        flex-wrap: wrap;
      }

      @media (min-width: 768px) {
        .blog-meta {
          flex-wrap: nowrap;
        }
      }

      .blog-meta-text {
        color: #9ca3af;
      }

      .blog-content {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5rem;
        max-width: 48rem;
      }

      .blog-content > * {
        max-width: 100%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
      }

      .blog-back-link-container {
        margin-bottom: 20px;
      }

      .close-button {
        color: var(--md-sys-color-on-background);
        display: flex;
        align-items: center !important;
        gap: 6px;
        transition: all 0.3s ease-in-out !important;
        opacity: 0.5 !important;
      }

      .close-button:hover {
        opacity: 1 !important;
      }

      .close-button:active {
        opacity: 0.75 !important;
      }
    </style>
    <div class="blog-header">
      <!-- <div class="blog-back-link-container">
        <a href="/blog" class="close-button">Back</a>
      </div> -->
      <span class="blog-category">
        {entry.data.category}
      </span>
      <h1 class="blog-title">
        {entry.data.title}
      </h1>
      <div class="blog-meta">
        <span class="blog-meta-text">
          {entry.data.author}
        </span>
        <span class="blog-meta-text">•</span>
        <time
          class="blog-meta-text"
          datetime={entry.data.publishDate.toISOString()}>
          {entry.data.publishDate.toDateString()}
        </time>
      </div>
    </div>

    <div class="blog-content">
      <Content />
    </div>
  </Container>
</Layout>
