---
import { getCollection } from "astro:content";
import Layout from "src/layouts/Layout.astro";
import Container from "src/components/container.astro";
import Sectionhead from "src/components/sectionhead.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Blog</Fragment>
      <Fragment slot="desc">
        We write about building startups and thoughts going on our mind.
      </Fragment>
    </Sectionhead>
    <style>
      main {
        margin-top: 48px;
      }

      ul {
        display: grid;
        gap: 20px;
        margin: 0 auto;
        max-width: 896px;
        list-style: none;
      }

      @media (min-width: 768px) {
        ul {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
      }

      a {
        text-decoration: none;
        color: inherit;
        display: block;
      }

      .blog-card {
        position: relative;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding: 24px;
        border-radius: 14px;
        border: 1px solid var(--md-sys-color-outline-variant);
        background-color: var(--md-sys-color-surface);
      }

      .blog-card:hover {
        transform: translateY(-4px);
      }

      .blog-category {
        color: var(--md-sys-color-primary);
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-size: 14px;
        font-weight: 500;
      }

      .blog-title {
        font-size: 22px;
        line-height: 32px;
        color: var(--md-sys-color-on-background);
        margin: 0;
        font-weight: 600;
      }

      .blog-meta {
        display: flex;
        gap: 12px;
        margin-top: 8px;
        flex-wrap: wrap;
      }

      .blog-meta span,
      .blog-meta time {
        color: var(--md-sys-color-on-surface-variant);
        font-size: 16px;
      }
    </style>
    <main>
      <ul>
        {
          publishedBlogEntries.map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="blog-card">
                  <div>
                    <span class="blog-category">
                      {blogPostEntry.data.category}
                    </span>
                    <h2 class="blog-title">{blogPostEntry.data.title}</h2>
                    <div class="blog-meta">
                      <span>{blogPostEntry.data.author}</span>
                      <span>• </span>
                      <time
                        datetime={blogPostEntry.data.publishDate.toISOString()}>
                        {blogPostEntry.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
